server:
 port: 8000
spring:
  application:
    name: produto-service
  datasource:
    url: jdbc:postgresql://localhost/produto_db
    username: postgres
    password: postgres
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate: 
        format-sql: true